p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: white;
    margin: auto;
    text-align: center;
    line-height: 1.75;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
    color: white;
    margin: auto;
    text-align: center;
}

h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: black;
    margin: auto;
    text-align: center;
}

.nav {
    height: 60px;
    width: 100%;
    position: fixed;
}

ul {
    float: right;
    display: flex;
    list-style-type: none;
    margin: auto;
    height: 100%;
}

li {
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
    padding-right: 30px;
    padding-left: 30px;
}

li :hover {
    color: pink;
}

body {
    margin: auto;
    background-color: #f2f2f2;
}


.hero {
    background-image: url("/portfolio/images/hero-back.png");
    background-size: cover;
    padding: 160px;
    height: 700px;
    box-sizing: border-box;
}

.hero h1, .hero p {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.work, .footer {
    margin: auto;
    height: 800px;
    background-color: teal;
    box-sizing: border-box;
    padding: 150px;
}

.about, .skills {
    margin: auto;
    height: 300px;
    box-sizing: border-box;
    padding: 20px;
}

.about {
    width: 70%;
    background-color: pink;
}

.skills {
    width: 30%;
    background-color: EFEFEF;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 100px;
}

.hero button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ED6C5B;
    padding: 15px;
    border-radius: 2px;
    border: 0px;
}

.fullwidth-area {
    width: 100%;
    display: flex; 
}